th {
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}

.p-5 {
    padding: 2rem!important;
}
.name {
    text-align: center;
    vertical-align: middle;
}
.prize {
    text-align: center;
    font-size: 1.5rem;
    vertical-align: middle;
}
img {
    text-align: center;
    vertical-align: middle;
}
a:hover {
    text-decoration: none;
    color:#00A0C6;
    cursor:pointer;
}



th:hover {
    border-bottom: solid;
    font-weight: bold;
    color: #00A0C6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 600px) {
  .row {
    margin: 0 -8px;
    margin-left: 340px;
    }

}

