{% include "header.html" %}



<div class="card-group">
  <div class="card" style="margin: 20px; width:40px;">
    <div class="card-body" style="text-align:center">
      <h5 class="card-title" style="font-weight:bold; font-size:1.5rem;">Manu</h5>
      <p class="card-text">Manu here</p>
    </div>
  </div>
    <br>
  <div class="card" style="margin: 20px; width:40px;">
    <div class="card-body" style="text-align:center">
      <h5 class="card-title" style="font-weight:bold; font-size:1.5rem;">Udit Jha</h5>
      <p class="card-text">Udit here</p>
    </div>
  </div>
  <br>
  <div class="card" style="margin: 20px; width:20px;">
    <div class="card-body" style="text-align:center">
      <h5 class="card-title" style="font-weight:bold; font-size:1.5rem;">Abhishake Rawat</h5>
      <p class="card-text">Abhishake here.</p>
    </div>
  </div>
</div>


{% include "footer.html" %}